langchain-community
langchain-text-splitters
pypdf
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
langchain-huggingface
fastapi==0.95.2
uvicorn==0.22.0
pydantic==1.10.13
langchain
faiss-cpu
python-dotenv